In [1]:
import pandas as pd

In [2]:
dados1 = pd.read_csv('emprestimos-20101.csv')

In [3]:
dados1

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...
95352,919377,C019571,NaN,2010/05/28 13:12:45.000000000,2010/05/28 17:42:02.000000000,1.687161e+06,DOCENTE
95353,919379,C019573,NaN,2010/03/05 13:26:50.000000000,2010/04/08 18:52:47.000000000,1.687161e+06,DOCENTE
95354,919381,C020714,NaN,2010/06/17 20:30:58.000000000,2010/06/24 10:51:23.000000000,1.687161e+06,DOCENTE
95355,919382,C020845,NaN,2010/03/11 15:08:05.000000000,2010/03/11 17:24:24.000000000,1.687161e+06,DOCENTE
95356,919431,Y011015,NaN,2010/06/17 08:12:48.000000000,2010/06/30 07:34:08.000000000,2.010204e+09,ALUNO DE PÓS-GRADUAÇÃO

In [4]:
dados1.query('id_emprestimo == 709684')

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO

In [5]:
dados2 = pd.read_csv('emprestimos-20102.csv')

In [6]:
dados2

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,799100,S025602_19/11/2013 10:51:34,NaN,2010/07/01 07:45:41.111000000,2010/07/07 10:52:31.000000000,2.009050e+09,ALUNO DE GRADUAÇÃO
1,799101,2008049500,NaN,2010/07/01 08:08:17.690000000,2010/07/01 09:03:44.000000000,2.010056e+09,ALUNO DE GRADUAÇÃO
2,799102,X008043,NaN,2010/07/01 08:13:31.574000000,2010/07/09 15:14:44.000000000,2.009043e+09,ALUNO DE GRADUAÇÃO
3,799103,2009055438,2010/07/14 18:35:35.042000000,2010/07/01 08:22:46.085000000,2010/07/29 14:59:16.000000000,2.009054e+09,ALUNO DE GRADUAÇÃO
4,799104,S024636,2010/07/16 21:29:43.569000000,2010/07/01 08:40:28.512000000,2010/07/28 07:49:32.000000000,2.009054e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...
100691,920241,2010049629,2011/01/14 15:59:20.653000000,2010/12/30 15:40:46.929000000,2011/02/01 16:28:43.000000000,2.010065e+09,ALUNO DE GRADUAÇÃO
100692,920242,2003005918,NaN,2010/12/30 16:03:29.379000000,2011/01/03 11:43:41.000000000,2.011112e+09,ALUNO DE PÓS-GRADUAÇÃO
100693,920243,2008015977,NaN,2010/12/30 16:28:10.564000000,2011/01/25 15:10:52.000000000,2.010106e+09,ALUNO DE PÓS-GRADUAÇÃO
100694,920244,S023356,NaN,2010/12/30 16:52:19.743000000,2011/01/14 10:33:20.000000000,2.008000e+09,ALUNO DE GRADUAÇÃO
100695,920245,S024938,NaN,2010/12/30 16:52:19.891000000,2011/01/14 10:33:04.000000000,2.008000e+09,ALUNO DE GRADUAÇÃO

In [7]:
dados3 = pd.read_csv('emprestimos-20111.csv')

In [8]:
dados4 = pd.read_csv('emprestimos-20112.csv')

In [9]:
dados5 = pd.read_csv('emprestimos-20121.csv')

In [10]:
dados6 = pd.read_csv('emprestimos-20122.csv')

In [11]:
dados7 = pd.read_csv('emprestimos-20131.csv')

In [12]:
dados8 = pd.read_csv('emprestimos-20132.csv')

In [13]:
dados9 = pd.read_csv('emprestimos-20141.csv')

In [14]:
dados10 = pd.read_csv('emprestimos-20142.csv')

In [15]:
dados11 = pd.read_csv('emprestimos-20151.csv')

In [16]:
dados12 = pd.read_csv('emprestimos-20152.csv')

In [17]:
dados13 = pd.read_csv('emprestimos-20161.csv')

In [18]:
dados14 = pd.read_csv('emprestimos-20162.csv')

In [19]:
dados15 = pd.read_csv('emprestimos-20171.csv')

In [20]:
dados16 = pd.read_csv('emprestimos-20172.csv')

In [21]:
dados17 = pd.read_csv('emprestimos-20181.csv')

In [22]:
dados18 = pd.read_csv('emprestimos-20182.csv')

In [23]:
dados19 = pd.read_csv('emprestimos-20191.csv')

In [24]:
dados20 = pd.read_csv('emprestimos-20192.csv')

In [25]:
dados21 = pd.read_csv('emprestimos-20201.csv')

In [26]:
df = pd.concat([dados1, dados2, dados3, dados4, dados5, dados6, dados7, dados8, dados9, dados10, dados11, dados12, dados13, dados14, dados15, dados16, dados17, dados18, dados19, dados20, dados21], axis = 0)

In [27]:
df

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...
26556,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26557,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26558,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26559,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO
26560,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO

In [28]:
parquet = pd.read_parquet('dados_exemplares.parquet')

In [29]:
parquet

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15
...,...,...,...,...,...,...,...
568580,1353472,2021011150,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,951,268231
568581,1353473,2019013454,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,997,268233
568582,1353474,2019012811,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,987,268234
568583,1353475,2019013451,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,764,268235
568584,1353476,2019012276,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,962,268236

In [30]:
df.drop_duplicates(inplace=True)

In [31]:
dfcompleto = df.merge(parquet)

In [32]:
dfcompleto

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,726965,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2.009122e+09,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
2,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
3,717763,L167050,NaN,2010/02/11 11:16:30.335000000,2010/03/04 08:54:32.262000000,2.008050e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
4,729996,L167050,2010/03/17 09:08:26.874000000,2010/03/04 13:36:26.599000000,2010/03/31 18:04:29.669000000,2.007226e+08,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072517,2989018,2009036492,NaN,2020/03/17 19:49:10.187000000,2020/12/03 08:12:20.000000000,2.015011e+10,ALUNO DE GRADUAÇÃO,274820,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,676,120845
2072518,2989020,2014062640,NaN,2020/03/17 19:51:15.700000000,2021/01/07 11:16:28.000000000,2.019004e+10,ALUNO DE GRADUAÇÃO,1157915,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,228,213248
2072519,2989032,2018003324,NaN,2020/03/17 20:00:11.416000000,2021/08/30 13:29:44.000000000,2.019102e+10,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784,255835
2072520,2989049,2006024313,NaN,2020/03/17 20:47:18.741000000,NaN,2.015013e+10,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663,82178
2072521,2989061,2018031352,NaN,2020/03/17 21:22:22.138000000,2021/07/26 15:05:20.000000000,2.020001e+10,ALUNO DE GRADUAÇÃO,1342535,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,355,174443

In [33]:
dfcompleto.query('data_devolucao.isna()')

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
111,2975546,L184117,2020/03/12 21:36:07.061000000,2020/02/27 15:35:21.271000000,NaN,2.020000e+10,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
1646,2975324,2007025340,2020/03/13 19:45:01.629000000,2020/02/27 12:43:00.889000000,NaN,1.856701e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,224706,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,681,17937
2191,2977506,2009000224,2020/03/17 08:38:50.710000000,2020/03/02 10:54:42.445000000,NaN,2.020010e+10,ALUNO DE GRADUAÇÃO,132983,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,693,45093
3570,2982490,L153720,NaN,2020/03/06 18:38:31.171000000,NaN,2.020006e+10,ALUNO DE GRADUAÇÃO,52141,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,634,19540
4250,2971912,X007803,NaN,2020/02/19 11:07:08.856000000,NaN,2.425364e+06,DOCENTE,62719,Acervo Circulante,Biblioteca Setorial Prof. Ronaldo Xavier de Ar...,REGULAR,620,22434
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072501,2988795,2018020362,2020/04/23 12:22:31.380000000,2020/03/17 16:15:49.401000000,NaN,1.988035e+08,DOCENTE,1300878,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,774,250512
2072504,2988829,S025754,NaN,2020/03/17 16:32:34.869000000,NaN,2.016014e+10,ALUNO DE GRADUAÇÃO,129868,Acervo Circulante,Biblioteca Setorial do Centro Ciências da Saúd...,REGULAR,629,43653
2072506,2988857,H002045,NaN,2020/03/17 16:57:24.297000000,NaN,2.018014e+10,ALUNO DE GRADUAÇÃO,130418,Acervo Circulante,Biblioteca Setorial do Centro de Ciências Huma...,REGULAR,686,43886
2072508,2988891,2017008971,2020/04/19 16:42:15.125000000,2020/03/17 17:13:00.546000000,NaN,2.018102e+10,ALUNO DE PÓS-GRADUAÇÃO,1314272,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,747,254698
2072520,2989049,2006024313,NaN,2020/03/17 20:47:18.741000000,NaN,2.015013e+10,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663,82178

In [34]:
dfcompleto['data_devolucao'] = dfcompleto['data_devolucao'].fillna(0)
dfcompleto.query('data_devolucao == 0')
#sendo 0 para falso, não devolvido

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
111,2975546,L184117,2020/03/12 21:36:07.061000000,2020/02/27 15:35:21.271000000,0,2.020000e+10,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
1646,2975324,2007025340,2020/03/13 19:45:01.629000000,2020/02/27 12:43:00.889000000,0,1.856701e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,224706,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,681,17937
2191,2977506,2009000224,2020/03/17 08:38:50.710000000,2020/03/02 10:54:42.445000000,0,2.020010e+10,ALUNO DE GRADUAÇÃO,132983,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,693,45093
3570,2982490,L153720,NaN,2020/03/06 18:38:31.171000000,0,2.020006e+10,ALUNO DE GRADUAÇÃO,52141,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,634,19540
4250,2971912,X007803,NaN,2020/02/19 11:07:08.856000000,0,2.425364e+06,DOCENTE,62719,Acervo Circulante,Biblioteca Setorial Prof. Ronaldo Xavier de Ar...,REGULAR,620,22434
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072501,2988795,2018020362,2020/04/23 12:22:31.380000000,2020/03/17 16:15:49.401000000,0,1.988035e+08,DOCENTE,1300878,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,774,250512
2072504,2988829,S025754,NaN,2020/03/17 16:32:34.869000000,0,2.016014e+10,ALUNO DE GRADUAÇÃO,129868,Acervo Circulante,Biblioteca Setorial do Centro Ciências da Saúd...,REGULAR,629,43653
2072506,2988857,H002045,NaN,2020/03/17 16:57:24.297000000,0,2.018014e+10,ALUNO DE GRADUAÇÃO,130418,Acervo Circulante,Biblioteca Setorial do Centro de Ciências Huma...,REGULAR,686,43886
2072508,2988891,2017008971,2020/04/19 16:42:15.125000000,2020/03/17 17:13:00.546000000,0,2.018102e+10,ALUNO DE PÓS-GRADUAÇÃO,1314272,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,747,254698
2072520,2989049,2006024313,NaN,2020/03/17 20:47:18.741000000,0,2.015013e+10,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663,82178

In [35]:
dfcompleto.query('id_exemplar == 131639')

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
97,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
98,726066,L184117,2010/03/05 11:53:36.288000000,2010/02/26 14:46:06.790000000,2010/03/22 17:02:54.319000000,2.008021e+09,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
99,740782,L184117,2010/04/06 14:56:08.960000000,2010/03/22 17:03:26.432000000,2010/04/22 17:49:47.161000000,2.009030e+09,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
100,761205,L184117,NaN,2010/04/22 17:50:06.602000000,2010/05/10 16:44:58.125000000,2.008021e+09,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
101,771942,L184117,2010/05/25 21:44:45.241000000,2010/05/10 16:46:55.081000000,2010/06/09 15:43:34.000000000,2.009030e+09,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
102,822468,L184117,2010/09/08 22:17:50.445000000,2010/08/23 18:43:36.989000000,2010/09/23 17:26:34.000000000,2.004195e+08,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
103,843353,L184117,2010/10/07 19:01:17.782000000,2010/09/23 17:27:08.708000000,2010/10/25 15:21:03.000000000,2.009035e+09,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
104,974832,L184117,NaN,2011/04/18 15:15:58.515000000,2011/05/02 11:50:06.000000000,2.009039e+09,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
105,1015037,L184117,2011/06/24 01:32:20.038000000,2011/06/08 15:10:01.835000000,2011/07/04 09:39:41.000000000,2.009039e+09,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
106,1271447,L184117,NaN,2012/06/08 12:37:48.173000000,2012/06/14 14:10:28.000000000,2.009039e+09,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
107,1447456,L184117,NaN,2013/03/11 19:12:23.613000000,2013/03/12 10:14:35.000000000,2.013108e+09,ALUNO DE PÓS-GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
108,2826885,L184117,2019/04/09 15:11:01.517000000,2019/03/26 18:43:11.229000000,2019/04/24 18:33:14.000000000,2.020000e+10,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
109,2863446,L184117,NaN,2019/05/24 15:19:51.812000000,2019/06/11 12:40:56.000000000,2.020000e+10,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
110,2919561,L184117,2019/10/10 09:16:00.237000000,2019/09/10 16:43:19.344000000,2019/11/11 12:06:29.000000000,1.314200e+04,DOCENTE EXTERNO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
111,2975546,L184117,2020/03/12 21:36:07.061000000,2020/02/27 15:35:21.271000000,0,2.020000e+10,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494

In [36]:
dfcompleto.drop(columns = 'data_renovacao', inplace=True)

In [37]:
dfcompleto

,id_emprestimo,codigo_barras,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,726965,L095049,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2.009122e+09,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
2,709685,L167050,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
3,717763,L167050,2010/02/11 11:16:30.335000000,2010/03/04 08:54:32.262000000,2.008050e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
4,729996,L167050,2010/03/04 13:36:26.599000000,2010/03/31 18:04:29.669000000,2.007226e+08,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
...,...,...,...,...,...,...,...,...,...,...,...,...
2072517,2989018,2009036492,2020/03/17 19:49:10.187000000,2020/12/03 08:12:20.000000000,2.015011e+10,ALUNO DE GRADUAÇÃO,274820,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,676,120845
2072518,2989020,2014062640,2020/03/17 19:51:15.700000000,2021/01/07 11:16:28.000000000,2.019004e+10,ALUNO DE GRADUAÇÃO,1157915,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,228,213248
2072519,2989032,2018003324,2020/03/17 20:00:11.416000000,2021/08/30 13:29:44.000000000,2.019102e+10,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784,255835
2072520,2989049,2006024313,2020/03/17 20:47:18.741000000,0,2.015013e+10,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663,82178
2072521,2989061,2018031352,2020/03/17 21:22:22.138000000,2021/07/26 15:05:20.000000000,2.020001e+10,ALUNO DE GRADUAÇÃO,1342535,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,355,174443

In [38]:
for c in dfcompleto.columns:
    print(f'Coluna: {c}')
    print(dfcompleto[c].unique())
    print('--'*30)

Coluna: id_emprestimo
[ 709684  726965  709685 ... 2989032 2989049 2989061]
------------------------------------------------------------
Coluna: codigo_barras
['L095049' 'L167050' '2006017618' ... '2018003324' '2006024313'
 '2018031352']
------------------------------------------------------------
Coluna: data_emprestimo
['2010/01/04 07:44:10.721000000' '2010/03/01 12:40:56.212000000'
 '2010/01/04 07:44:10.750000000' ... '2020/03/17 20:00:11.416000000'
 '2020/03/17 20:47:18.741000000' '2020/03/17 21:22:22.138000000']
------------------------------------------------------------
Coluna: data_devolucao
['2010/01/05 16:26:12.662000000' '2010/04/30 14:42:35.366000000'
 '2010/01/12 07:34:13.934000000' ... '2021/01/07 11:16:28.000000000'
 '2021/08/30 13:29:44.000000000' '2021/07/26 15:05:20.000000000']
------------------------------------------------------------
Coluna: matricula_ou_siape
[2.00802326e+09 2.00912158e+09 2.00805035e+09 ... 2.02000487e+10
 2.02010044e+10 2.02000007e+10]
------------------------------------------------------------
Coluna: tipo_vinculo_usuario
['ALUNO DE GRADUAÇÃO' 'ALUNO DE PÓS-GRADUAÇÃO' 'DOCENTE' 'DOCENTE EXTERNO'
 'SERVIDOR TÉCNICO-ADMINISTRATIVO' 'ALUNO MÉDIO/TÉCNICO' 'USUÁRIO EXTERNO'
 'OUTROS']
------------------------------------------------------------
Coluna: id_exemplar
[  13259   70865  195347 ... 1317173  206073 1342535]
------------------------------------------------------------
Coluna: colecao
['Acervo Circulante' 'Folhetos' 'Teses' 'Dissertações' 'Monografias'
 'Publicações de Autores do RN' 'Publicações da UFRN' 'Multimeios'
 'Coleção Mossoroense' 'Eventos' 'Trabalho Acadêmico'
 'Obras de Referência' 'Obras Raras' 'Literatura de Cordel'
 'Coleção Zila Mamede' 'Necessidades Educacionais Específicas']
------------------------------------------------------------
Coluna: biblioteca
['Biblioteca Central Zila Mamede'
 'Biblioteca Setorial Prof. Rodolfo Helinski - Escola Agrícola de Jundiaí - EAJ  - Macaiba'
 'Biblioteca Setorial Bertha Cruz Enders - \xadEscola de Saúde da UFRN - ESUFRN'
 'Biblioteca Setorial do Centro Ciências da Saúde - CCS'
 'Biblioteca Setorial Prof. Alberto Moreira Campos - \xadDepartamento de Odontologia'
 'Biblioteca Setorial Prof. Ronaldo Xavier de Arruda - CCET'
 'Biblioteca Setorial do Centro de Ciências Humanas, Letras e Artes - CCHLA'
 'Biblioteca Setorial Prof. Horácio Nicolas Solimo - \xad Engenharia Química - EQ - CT'
 'Biblioteca Setorial Prof. Francisco Gurgel De Azevedo - Instituto Química - IQ'
 'Biblioteca Setorial do Centro Ciências Sociais Aplicadas - CCSA'
 'Biblioteca Setorial do Departamento de Artes - DEART'
 'Biblioteca Setorial Prof. Dr. Marcelo Bezerra de Melo Tinôco - DARQ - \xadCT'
 'Biblioteca Setorial Árvore do Conhecimento - Instituto do Cérebro - ICe'
 'Biblioteca Setorial Moacyr de Góes - CE'
 'Biblioteca Setorial Prof. Leopoldo Nelson - \xadCentro de Biociências - CB'
 'Biblioteca Setorial Dr. Paulo Bezerra - EMCM/RN - Caicó'
 'Biblioteca Setorial Pe. Jaime Diniz - Escola de Música - EMUFRN'
 'Biblioteca Setorial Profª. Maria Lúcia da Costa Bezerra - \xadCERES\xad - Caicó'
 'Biblioteca Setorial Profª. Maria José Mamede Galvão - FELCS - Currais Novos'
 'Biblioteca Setorial do Núcleo de Educação da Infância - NEI'
 'Biblioteca Setorial da Faculdade de Ciências da Saúde do Trairi - FACISA - Santa Cruz'
 'Biblioteca Setorial do Núcleo de Ensino Superior do Agreste - NESA - Nova Cruz']
------------------------------------------------------------
Coluna: status_material
['REGULAR' 'ESPECIAL' 'NÃO CIRCULA']
------------------------------------------------------------
Coluna: localizacao
[630 647 640 609 686 698 645 658 697 643 612 673 651 674 631 634 699 623
 812 615 669 620 610 679 656 619 644 677 693 633 662 340 602 625 694 692
 685 608 628 624 664 663 691 660 605 611 649 696 627 626 684 672 616 642
 676 622 666 603 668 606 652 607 654 657 636 681 614 632 646 621 648 617
 670 690 600 682 683 678 650 687 641 659 695 688 655 680 635 618 604 689
 637 601 639 665 667 671 638 653 629 675 906 661 613 502 370 945 332 348
 593 397 314 343 588 368 341 322 240 344 926   4 911 165 978 718 388 329
 885 928 316 386 367 315 326 389  14 331 317 365 300 366 328 345 342 375
 378 336 895 876 324 307 364 312 379 381 303  93 339 823 393 354  84 310
 795 376 905 858 383 791 173 199 337 732  54 500   7 551 292 924 327 203
 509 717 590 120 221 815  76 515 555 320 305 525 516 719 373 371 830 124
 949 149 265 549 117 361 237 334 535 853 708   2 929 759 359 570  92 548
 706 709  52 531 942 595 358 323 569 338 523 333 541 995 540 321 369 189
 357 222 599 566 384 721 200 545 866 734 533 517  72 399 580 704 575 550
  82 176 267 554 374  43 239  60 275 253 727 542 863 196 230  97 160 118
 145 128  20 579 958 144 829 943  10 825 960  34 387 380 355 353 363 362
 395 304 352 308 318 391 891 398 301 360 330 394 705 396 302 311 351 313
 306 350 325 335 356 382 377 392 346 372 390 878 309 319 347 818 136   5
 385 349   9 780 742  13 997 225  73 573 121 536 519 744 556 884 246  88
 252 828 850 532 231 934 565  32 907 547 583  68 122  57 712 527  55 142
 146 119 752 726 166 833 773  71 299 207  19 524 260 948 169  24 851 769
 172 806 783 725 786 701 703 900 762 977 735 781 998 138 288 501  99 272
 918 834 824 521 102 247 930 754   3 962 298 514 206 994 107 913  95 219
 581 266  94 872 888 774 283 108  70 257 164  91 226 213 294 101 155 951
 259 273 115 129 210 100 279 163 167 125 993  77 184  45 132 159  87 113
  80   8 242  31   1 134 131  33 156 197 162 187  26 286 212 235 178 123
 194 202 106  51 183 216 103 217 214 269 282  98 254 109 133 232 233 175
 188 182  16  81  28  23 277 195 248  30 171 227 295 104 287  36 245 280
 296 154 291 152  58   0 150 148 276 281 201 215 153  37 151  62  41  96
  17   6 177 270 126 278 271  65 250 192 263 141 297 264 130 181 174 236
 220 158  12  67 224 143 186 261 238  38 137 208 256  46  79 228 112 168
  25 255  44  49 170  48 205 558  27 179  61  90 839  40  21 204  18 262
 193 244 110 111 116  29  50  56 223  78 105 180  59  15 289 218 147  83
  66 190 211 229 274 538 234 290  35 135  11 733  22  75 139 157 185  53
 251 243 161  74 198 268 140 241 249  89 910  86  63 797  39  64 114 293
  85 284  47  69 285  42 209 258 529 503 191 510 127 964 842 880 940 594
 584 887 877 758 507 508 984 979 873 562 837 596 737 896 511 821 770 955
 861 724 586 560 543 539 568 574 553 561 597 865 520 563 526 589 559 530
 505 518 506 576 591 598 512 567 577 587 582 571 537 544 513 557 592 522
 564 504 534 572 528 578 546 585 552 972 789 936 980 756 869 933 761 778
 805 938 729 847 991 862 768 826 981 814 855 846 922 987 889 952 753 749
 917 766 999 750 932 838 798 870 901 971 813 903 854 950 879 711 925 867
 716 965 875 857 990 849 988 702 852 794 832 710 902 835 772 939 864 968
 765 914 792 822 954 745 807 741 723 713 738 916 720 982 787 784 961 957
 740 969 836 760 898 801 800 722 804 909 946 970 871 844 966 764 707 986
 856 728 893 714 819 897 808 799 868 715 757 767 776 941 923 743 731 746
 771 790 904 935 944 967 883 848 817 882 739 816 881 810 779 811 841 899
 782 953 983 973 919 809 827 763 894 748 874 908 751 927 840 788 975 989
 912 959 937 747 915 831 963 845 992 820 931 974 736 775 886 843 859 785
 755 860 700 947 996 956 777 921 730 920 892 803 802 793 890 985 976 796]
------------------------------------------------------------
Coluna: registro_sistema
[  4225  25009  75019 ... 124699 251603 174443]
------------------------------------------------------------

In [39]:
dfcompleto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2072522 entries, 0 to 2072521
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_emprestimo       object
 3   data_devolucao        object
 4   matricula_ou_siape    float64
 5   tipo_vinculo_usuario  object
 6   id_exemplar           int64
 7   colecao               object
 8   biblioteca            object
 9   status_material       object
 10  localizacao           int64
 11  registro_sistema      int64
dtypes: float64(1), int64(4), object(7)
memory usage: 189.7+ MB

In [40]:
dfcompleto.head()

,id_emprestimo,codigo_barras,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,726965,L095049,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2.009122e+09,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
2,709685,L167050,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
3,717763,L167050,2010/02/11 11:16:30.335000000,2010/03/04 08:54:32.262000000,2.008050e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
4,729996,L167050,2010/03/04 13:36:26.599000000,2010/03/31 18:04:29.669000000,2.007226e+08,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009

In [41]:
dfcompleto[dfcompleto.isna().any(axis=1)]

,id_emprestimo,codigo_barras,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
2629,2323664,2006035031,2016/10/20 12:43:53.545000000,2016/12/12 12:08:23.000000000,NaN,USUÁRIO EXTERNO,212890,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686,85700
3578,889199,2008053728,2010/12/21 09:01:37.557000000,2010/12/27 09:49:14.000000000,NaN,SERVIDOR TÉCNICO-ADMINISTRATIVO,257219,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,641,110728
7211,744030,L197755,2010/03/25 15:07:52.629000000,2010/05/24 15:04:37.896000000,NaN,USUÁRIO EXTERNO,129760,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,625,43571
8235,757318,2006026894,2010/04/15 16:41:46.105000000,2010/05/12 17:33:41.741000000,NaN,SERVIDOR TÉCNICO-ADMINISTRATIVO,205799,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,615,82003
8552,803137,2008010964,2010/07/14 18:26:51.664000000,2010/08/10 19:57:32.000000000,NaN,SERVIDOR TÉCNICO-ADMINISTRATIVO,240313,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,661,99806
...,...,...,...,...,...,...,...,...,...,...,...,...
2070134,2953616,2007027394,2019/11/16 08:13:33.128000000,2019/11/20 07:41:47.000000000,NaN,USUÁRIO EXTERNO,225331,Acervo Circulante,Biblioteca Setorial do Núcleo de Ensino Superi...,REGULAR,612,91867
2070439,2958220,2014041527,2019/11/28 17:12:22.244000000,2019/12/19 10:55:27.000000000,NaN,ALUNO DE PÓS-GRADUAÇÃO,1149888,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,54,213862
2071118,2966143,2017014241,2020/01/31 15:25:53.360000000,2020/03/03 14:23:12.000000000,NaN,USUÁRIO EXTERNO,1257327,Acervo Circulante,Biblioteca Setorial Prof. Alberto Moreira Camp...,REGULAR,612,168814
2071119,2983002,2017014241,2020/03/09 12:07:52.901000000,2020/11/25 08:27:59.000000000,NaN,USUÁRIO EXTERNO,1257327,Acervo Circulante,Biblioteca Setorial Prof. Alberto Moreira Camp...,REGULAR,612,168814
2072156,2982998,2009013225,2020/03/09 12:07:52.793000000,2020/11/25 08:28:53.000000000,NaN,USUÁRIO EXTERNO,267361,Acervo Circulante,Biblioteca Setorial Prof. Alberto Moreira Camp...,REGULAR,681,115765

In [42]:
dfcompleto.isna().sum()

id_emprestimo              0
codigo_barras              0
data_emprestimo            0
data_devolucao             0
matricula_ou_siape      2893
tipo_vinculo_usuario       0
id_exemplar                0
colecao                    0
biblioteca                 0
status_material            0
localizacao                0
registro_sistema           0
dtype: int64

In [43]:
filtro = dfcompleto['matricula_ou_siape'].isna()

In [44]:
dfcompleto[filtro][['matricula_ou_siape', 'data_devolucao']]

         matricula_ou_siape                 data_devolucao
2629                    NaN  2016/12/12 12:08:23.000000000
3578                    NaN  2010/12/27 09:49:14.000000000
7211                    NaN  2010/05/24 15:04:37.896000000
8235                    NaN  2010/05/12 17:33:41.741000000
8552                    NaN  2010/08/10 19:57:32.000000000
...                     ...                            ...
2070134                 NaN  2019/11/20 07:41:47.000000000
2070439                 NaN  2019/12/19 10:55:27.000000000
2071118                 NaN  2020/03/03 14:23:12.000000000
2071119                 NaN  2020/11/25 08:27:59.000000000
2072156                 NaN  2020/11/25 08:28:53.000000000

[2893 rows x 2 columns]

In [45]:
dfcompleto['matricula_ou_siape'] = dfcompleto['matricula_ou_siape'].fillna(0)

In [46]:
dfcompleto[dfcompleto['data_devolucao'] == 0][['data_devolucao', 'matricula_ou_siape']]

        data_devolucao  matricula_ou_siape
111                  0        2.020000e+10
1646                 0        1.856701e+06
2191                 0        2.020010e+10
3570                 0        2.020006e+10
4250                 0        2.425364e+06
...                ...                 ...
2072501              0        1.988035e+08
2072504              0        2.016014e+10
2072506              0        2.018014e+10
2072508              0        2.018102e+10
2072520              0        2.015013e+10

[6178 rows x 2 columns]

In [47]:
dfcompleto[(dfcompleto['matricula_ou_siape'] == 0) & (dfcompleto['data_devolucao'] == 0 )][['data_devolucao', 'matricula_ou_siape']]

        data_devolucao  matricula_ou_siape
228439               0                 0.0
238111               0                 0.0
263645               0                 0.0
288401               0                 0.0
492389               0                 0.0
1526417              0                 0.0
1572730              0                 0.0
1979462              0                 0.0
2006383              0                 0.0
2008666              0                 0.0
2048062              0                 0.0

Removi a coluna data de renovaçao tendo pois não vi muita relevância nela visto que a importância é a devolução dos livros. No total pouco mais de 6 mil nao foram devolvidos, e também há pessoas sem o número da matrícula, que gira perto dos 3 mil. Fiz pesquisas para ver se há relaçao entre não ter número de matricula e nao ter devoluçao mas a relação é baixa, passando pouco de 10, num banco de dados com mais de 2 milhoes de linhas

In [48]:
dfcompleto['localizacao'] = dfcompleto['localizacao'].astype(int)

In [49]:
"""for c in dfcompleto['localizacao']:
    if 000 <= c <= 99: 
        dfcompleto['localizacao'] = 'Generalidades. Ciência e conhecimento.'
    elif 100 <= c <= 199: 
        dfcompleto['localizacao'] = 'Filosofia e psicologia.'
    elif 200 <= c <= 299: 
        dfcompleto['localizacao'] = 'Religião.'
    elif 300 <= c <= 399: 
        dfcompleto['localizacao'] = 'Ciências sociais.'
    elif 400 <= c <= 499: 
        dfcompleto['localizacao'] = 'Classe vaga. Provisoriamente não ocupada.'
    elif 500 <= c <= 599: 
        dfcompleto['localizacao'] = 'Matemática e ciências naturais.'
    elif 600 <= c <= 699: 
        dfcompleto['localizacao'] = 'Ciências aplicadas.'
    elif 700 <= c <= 799: 
        dfcompleto['localizacao'] =  'Belas artes.'
    elif 800 <= c <= 899: 
        dfcompleto['localizacao'] = 'Linguagem. Língua. Linguística.'
    elif 900 <= c <= 999: 
        dfcompleto['localizacao'] = 'Geografia. Biografia. História.'"""

"for c in dfcompleto['localizacao']:\n    if 000 <= c <= 99: \n        dfcompleto['localizacao'] = 'Generalidades. Ciência e conhecimento.'\n    elif 100 <= c <= 199: \n        dfcompleto['localizacao'] = 'Filosofia e psicologia.'\n    elif 200 <= c <= 299: \n        dfcompleto['localizacao'] = 'Religião.'\n    elif 300 <= c <= 399: \n        dfcompleto['localizacao'] = 'Ciências sociais.'\n    elif 400 <= c <= 499: \n        dfcompleto['localizacao'] = 'Classe vaga. Provisoriamente não ocupada.'\n    elif 500 <= c <= 599: \n        dfcompleto['localizacao'] = 'Matemática e ciências naturais.'\n    elif 600 <= c <= 699: \n        dfcompleto['localizacao'] = 'Ciências aplicadas.'\n    elif 700 <= c <= 799: \n        dfcompleto['localizacao'] =  'Belas artes.'\n    elif 800 <= c <= 899: \n        dfcompleto['localizacao'] = 'Linguagem. Língua. Linguística.'\n    elif 900 <= c <= 999: \n        dfcompleto['localizacao'] = 'Geografia. Biografia. História.'"

In [52]:
CDU = list()
for c in dfcompleto['localizacao']:
    if 000 <= c <= 99: 
        CDU.append('Generalidades. Ciência e conhecimento.')
    elif 100 <= c <= 199: 
        CDU.append('Filosofia e psicologia.')
    elif 200 <= c <= 299: 
        CDU.append('Religião.')
    elif 300 <= c <= 399: 
        CDU.append('Ciências sociais.')
    elif 400 <= c <= 499: 
        CDU.append('Classe vaga. Provisoriamente não ocupada.')
    elif 500 <= c <= 599: 
        CDU.append('Matemática e ciências naturais.')
    elif 600 <= c <= 699: 
        CDU.append('Ciências aplicadas.')
    elif 700 <= c <= 799: 
        CDU.append( 'Belas artes.')
    elif 800 <= c <= 899: 
        CDU.append('Linguagem. Língua. Linguística.')
    elif 900 <= c <= 999: 
        CDU.append('Geografia. Biografia. História.')

In [53]:
dfcompleto['CDU'] = CDU

In [56]:
dfcompleto.tail()

,id_emprestimo,codigo_barras,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema,CDU
2072517,2989018,2009036492,2020/03/17 19:49:10.187000000,2020/12/03 08:12:20.000000000,2.015011e+10,ALUNO DE GRADUAÇÃO,274820,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,676,120845,Ciências aplicadas.
2072518,2989020,2014062640,2020/03/17 19:51:15.700000000,2021/01/07 11:16:28.000000000,2.019004e+10,ALUNO DE GRADUAÇÃO,1157915,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,228,213248,Religião.
2072519,2989032,2018003324,2020/03/17 20:00:11.416000000,2021/08/30 13:29:44.000000000,2.019102e+10,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784,255835,Belas artes.
2072520,2989049,2006024313,2020/03/17 20:47:18.741000000,0,2.015013e+10,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663,82178,Ciências aplicadas.
2072521,2989061,2018031352,2020/03/17 21:22:22.138000000,2021/07/26 15:05:20.000000000,2.020001e+10,ALUNO DE GRADUAÇÃO,1342535,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,355,174443,Ciências sociais.

In [57]:
dfcompleto.drop(columns = 'localizacao', inplace=True)